<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <title>Pokedex</title>

    <!-- materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  </head>
  <body>
    <!-- nav bar -->
    <nav>
      <div class="nav-wrapper amber">
        <a href="../" class="brand-logo">PokeDex</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="../pokemon">Favorites</a></li>
          <!-- <li><a href="../collected.js">Collected</a></li> -->
        </ul>
      </div>
    </nav>

    <%- body %>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
