@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@300;700&display=swap');


body {
    margin: 0 auto;
    font-family: 'Lemonada', cursive;
    background-image: url("https://i.insider.com/5d0bf7d5b587c677086d6469?width=1200&format=jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
}

h1 {
    text-align: center;
    color: rgba(238, 238, 238, 0.9);
    background: radial-gradient(rgba(32, 32, 32, 0.75), rgba(32, 32, 32, 0.10));
    border-radius: 50px;
}

h2, h4, ul {
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
}

button {
    padding: 5px;
    border-radius: 5px 5px 5px 15px;
}

.well {
    margin: 0 auto;
    border-radius: 15px;
    width: 60%;
    background: linear-gradient(rgb(164, 0, 0), rgb(255, 180, 18));
    box-shadow: 5px 5px rgba(40, 91, 74, 0.5);
}

.sprites {
    position: relative;
    top: 15px;
    margin: 10px auto;
    background-color: rgb(255, 180, 18);
    width: 25%;
    border-radius: 15px;
}
